/* 
Theme Name: MusicPlay
Theme URI: http://themeforest.net/
Description: Designed by <a href="http://themeforest.net/user/AivahThemes">AivahThemes</a>. This Theme for WordPress is lightweight and adaptable. Theme comes with ease in usability which makes your site ready in minutes. 
Version: 4.3.0
Author: <a href="http://themeforest.net/user/AivahThemes">AivahThemes</a>
Author URI: http://themeforest.net/user/AivahThemes
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: dark, white, two-columns, custom-background, translation-ready, custom-menu
Text Domain: musicplay

This theme, like WordPress, is licensed under the GPL.
*/

#preloader_iva_wrap { 
	position: relative;
	padding: 20px 0;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color:#ffffff; 
	background-color: rgba(255,255,255,0.8); 	
	-webkit-transition:	all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#preloader_iva{
	left: 50%;
	margin-bottom: 25px;
	margin-left: -27px;
	position: relative;
	width: 54px;
}
#preloader_iva span{
    display:block;
    bottom:-15px;
    width: 9px;
    height: 2px;
    background:#9b59b6;
    position:absolute;
	-webkit-animation: preloader_iva 1.5s  infinite ease-in-out;
	-moz-animation: preloader_iva 1.5s  infinite ease-in-out;
    animation: preloader_iva 1.5s  infinite ease-in-out;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
 
#preloader_iva span:nth-child(2){
left:11px;
-webkit-animation-delay: .2s;
-moz-animation-delay: .2s;
animation-delay: .2s;
 
}
#preloader_iva span:nth-child(3){
left:22px;
-webkit-animation-delay: .4s;
-moz-animation-delay: .4s;
animation-delay: .4s;
}
#preloader_iva span:nth-child(4){
left:33px;
-webkit-animation-delay: .6s;
-moz-animation-delay: .6s;
animation-delay: .6s;
}
#preloader_iva span:nth-child(5){
left:44px;
-webkit-animation-delay: .8s;
-moz-animation-delay: .8s;
animation-delay: .8s;
}
@-webkit-keyframes preloader_iva {
    0% {height:2px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:2px;transform:translateY(0px);background:#9b59b6;}
    100% {height:2px;transform:translateY(0px);background:#9b59b6;}
}
@-moz-keyframes preloader_iva {
    0% {height:2px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:2px;transform:translateY(0px);background:#9b59b6;}
    100% {height:2px;transform:translateY(0px);background:#9b59b6;}
}
@keyframes preloader_iva {
    0% {height:2px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:2px;transform:translateY(0px);background:#9b59b6;}
    100% {height:2px;transform:translateY(0px);background:#9b59b6;}
}
/**
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * @see http://git.io/normalize
 * @used from twentythirteen theme to maintain WP Native Styling
 * ----------------------------------------------------------------------------
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*::-moz-selection {
    background-color: #01749F;
    color: #FFFFFF;
}

article, aside, details, figcaption, figure, footer, header, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: "Source Sans Pro", Helvetica, sans-serif; }
address { font-style: italic; margin: 0 0 24px; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }

p { margin: 0 0 24px; }

small { font-size: smaller; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }
sub { bottom: -0.25em; }

dl { margin: 0 20px; }
dt { font-weight: bold; }
dd { margin: 0 0 20px; }

menu { margin: 16px 0; padding: 0 0 0 40px; }

ul { list-style: disc outside none; margin-left: 8px; }
ol { list-style: decimal outside none; margin-left: 15px; }

ul, ol { margin-bottom: 20px; padding: 0px; }

.content-area li { margin-left: 1em; padding: 3px 0; }

nav ul,
nav ol { list-style: none; list-style-image: none; }

li > ul,
li > ol { margin: 0; }

img { -ms-interpolation-mode: bicubic; border: 0; vertical-align: middle; }

svg:not(:root) { overflow: hidden;}

figure { margin: 0; }
form { margin: 0; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; max-width: 100%; vertical-align: baseline; }
button, input { line-height: normal; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"],
input[type="radio"] { padding: 0; }
input[type="search"] { -webkit-appearance: textfield; padding-right: 2px; /* Don't cut off the webkit search cancel button */ width: 270px; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}

button::-moz-focus-inner, input::-moz-focus-inner {	border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }

table { border-bottom: 1px solid #ededed; border-collapse: collapse; border-spacing: 0; font-size: 14px; line-height: 2; margin: 0 0 20px; width: 100%;}
caption, th, td { font-weight: normal; text-align: left; }
caption { font-size: 16px; margin: 20px 0; }

th { font-weight: bold; text-transform: uppercase; }
td { border-top: 1px solid #ededed; padding: 6px 10px 6px 0; }

del { color: #333; }
ins { background: #01749F; text-decoration: none; }

hr {
	background: url('images/dotted-line.png') repeat center top;
	background-size: 4px 4px;
	border: 0;
	height: 1px;
	margin: 0 0 24px;
}

/* Pre Wrap
=========================================================== */

pre {
	background: url('images/code_bg.png') repeat scroll left top #f6f6f6;
	font: 12px "Courier 10 Pitch", Courier, monospace;
	line-height: 21px;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 20px 30px;
	border: 1px solid #e2eeee;
	color: #444444;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	-webkit-border-radius:	3px;
	-moz-border-radius:		3px;
	border-radius:			3px;
}
code, kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

code {
	background-color:#f7f7f7;
	display: block;
	font: 12px/18px Consolas,"Courier New",Courier,monospace;
	border: 1px solid #e2e2e2;
	overflow: auto;
	padding: 10px 18px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Clearfix 
=========================================================== */

.clear	{ clear: both; display: block; width: 0;  height: 0; visibility: hidden; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* Responsive Image
=========================================================== */
figure img { width: auto; max-width: 100%; height: auto; }

 .demo { opacity: 0;}

/* General
=========================================================== */

#iframevideo { max-width:100%; }

blockquote {
	border-color: #CCCCCC;
	border-left-style: solid;
	border-left-width: 6px;
	color: #999999;
	line-height: 1.5em;
	margin: 0 1em 1em 0;
	padding-left:20px;
}

body { margin:0; padding:0; }

.iva_page_bg { position:fixed; top:0; min-width:100%; min-height:100%; background-attachment: fixed;  left: 0; z-index: -1;}

body, 
input, 
select, 
textarea  { font: normal 13px/1.6 'Helvetica-Neue', Helvetica, Arial, Sans-serif; color: #444444; }

.bodyoverlay {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-repeat: repeat;
	background-position: top left;
	background-attachment: scroll;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a,
a:focus { color: #333333; text-decoration: none; outline: none; }
a:hover { color: #01749F; text-decoration: none; outline: none; }

.ribbon { position:absolute; top:0; right:0; z-index:2; }

.iva_page_loader,
.preloader { 
	display:block; 
	background-image: url('images/svg-loaders/audio.svg');
	background-repeat: no-repeat;
	background-color: #444444; 
	background-position: center center;
	background-size: 30px 30px;
}

.avatar,
.imageborder {
	position: relative;
	margin: 0;
	padding: 3px;
	box-sizing: border-box;
	-webkit-transition:	all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.testimonial-box:hover .imageborder,
.testimonial-box:hover .avatar,
.imageborder:hover { background-color:#01749F; }

/* Google Map Responsive Fix */
.atpimage { position:absolute; display:inline-block; }
.atpmap img { width: auto !important; max-width: none; }

/* Google Map Shadow */
.atpmap-shadow {
	position: relative;
	border: 1px solid #e9e9e9;
	background-color: ff00ff;
	padding: 8px;
}


/* Headings
=========================================================== */

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 25px 0;
	font-family:  "Open Sans", Arial, Helvetica, sans-serif;
	line-height: 150%;
	font-weight:400;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-weight: normal; line-height: 1; }

h1 small { font-size: 20px; }
h2 small { font-size: 16px; }
h3 small { font-size: 14px; }
h4 small { font-size: 12px; }

h1 strong { color:#01749F; }
h2 strong { color:#01749F; }
h3 strong { color:#01749F; }
h4 strong { color:#01749F; }

/* Layout
=========================================================== */

#boxed #wrapper {
	position: relative;
	max-width: 1280px;
	/* width: 1100px; */
	margin: 0px auto;
}

#stretched #wrapper { 
	width: 100%;
}

#stretched #footer { margin:0 auto; border-top:0px solid #dddddd;}
#stretched #header { margin-bottom:0; border-bottom:0px solid #dddddd;}
#stretched .topbar { margin-bottom:0; border-bottom:0px solid #dddddd; }

.inner {
	position:relative;
	max-width: 1140px;
	margin: 0 auto;
}

.one_half		{ width: 48%; }
.one_third		{ width: 30.5%; }
.two_third		{ width: 65.3%; }
.one_fourth		{ width: 21.9%; }
.one_fifth		{ width: 16.7%; }
.three_fourth	{ width: 74.0%; }
.four_fifth		{ width: 79.0%; }
.two_fifth		{ width: 37.2%; }
.three_fifth	{ width: 58.0%; }
.one_sixth		{ width: 13.3%; }
.five_fifth		{ width: 82.7%; }

.one_half, 
.one_third, 
.two_third, 
.one_fourth, 
.one_fifth, 
.four_fifth, 
.one_sixth, 
.five_fifth, 
.two_fifth, 
.three_fifth, 
.three_fourth {
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 4%;
	margin-bottom:15px;
}

.last { margin-right: 0 !important; }
.nomargin {margin-bottom: 0; }

/* Primary Content Area
=========================================================== */

#main {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 1);
	padding: 40px 0 0 0;
	position:relative;
	z-index:17;
}

.pagemid {
	position: relative;
	margin: 0 auto;
	padding-bottom:40px;
}

.pagemid > .inner { max-width:1140px; }

.pagemid:after,
.pagemid:before { clear:both; content: ""; display: block; visibility: visible; }

.pagemid_section { 
	position: relative;
	display: block;
	width: auto;
	margin: 0 auto;
	padding: 0;
	top:-40px;
	bottom:-40px;
	}

.pagemid_section .edit-link{ padding:10px; }

/* Section Fullwidth
=========================================================== */

.section_row {
	border-style: solid;
	border-color: #dddddd;
	border-width:0 0 1px 0;
	padding: 30px 0;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.section_inner {
    margin: 0 auto;
    max-width: 1140px;
}

/* Sidebars - Left and right
=========================================================== */

/* Left Sidebar */

.leftsidebar .content-area { 
	float: right; 
	width: 70%; 
	padding-left: 20px;
}

.leftsidebar #sidebar { 
	position: relative; 
	float: left; 
	width: 29%; 
}

.leftsidebar #sidebar .sidebar-inner { padding: 0 20px 0px 0; }	

/* Right Sidebar */
.rightsidebar .content-area { 
	float: left; 
	width: 71%; 
	padding-right: 20px; 
}

.rightsidebar #sidebar {
	position: relative;
	float: right;
	width: 29%;
}

.rightsidebar #sidebar .sidebar-inner { padding: 0 0 0 20px; } 

/* Featured Slider
=========================================================== */

#featured_slider {
	position: relative;
	padding: 0;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 1);
	z-index: 9;
}

.slider_stretched { margin: 0 auto; }
.slider_wrapper { max-width: 1140px; margin: 0 auto; }

.videoslider iframe,
.staticslider img{
	max-width:100%;
	display: block;
	margin: 0 auto;
}

.ei-slider-thumbs li a:hover,
.ei-slider-thumbs li.ei-slider-element{ background-color: #24A5D9; width: 95px; }

/* Header and Logo
=========================================================== */

.logo {
	display: table-cell;
	min-width: 100px;
	padding: 0;
	margin: auto;
	vertical-align: middle;
}
.logo a { display:block;}

/* Site Title and Description */

h1#site-title { margin: 0; }
h1#site-title a { 
	font-size: 30px;
	line-height: 38px;
	color: #666666;
	font-weight: bold;
	letter-spacing: -1px;
}
h2#site-description {
	margin: 0;
	font-size: 12px;
	line-height: 16px;
	color: #999999;
	text-decoration: none;
}

.topbar .one_half.last { text-align:right; }
.login h1 a { background-size: none; }

.header-area { display:table; width: 100%; max-width: 1140px; margin:0 auto; min-height:88px; height:80px; }

/* Fixed Header
=========================================================== */

.fixed-header{  width: 100%; top: 0; }

.scroll{
	position: fixed !important; 
	width: 100%;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0 !important;
	border-bottom: 3px solid #01749F;
	background: rgb(255, 255, 255)!important; 
	background: rgba(255, 255, 255, 0.95)!important; 
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

/* Header 1
=========================================================== */

.header { position:relative; z-index: 24; border-bottom: 0px solid #eeeeee;}


#header{
	padding: 10px 0;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 1);
	zoom: 1;
}

/* Header 2
=========================================================== */

#header-s2 { 
	position: relative;
	padding: 10px 0;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 1);
}
#header-s2 .sf-menu { float:left; }
#header-s2 .logo { text-align: right; }

/* Header 3
=========================================================== */

#header-s3 { 
	position: relative;
	padding: 10px 0;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 1);
}

#header-s3 .menuwrap {
	display:table;
	margin: 15px auto 10px auto;
	float: none;
}

#header-s3 .logo{ float: none; display:table; margin-top:10px;}

/* Topbar
=========================================================== */

.topbar {
	position: relative;
	padding: 0;
	font-size: 11px;
	line-height: 35px;
	overflow: hidden;
	margin-bottom: 0px;
	background-color:#ffffff;
}

.topbar .topbar_left, .topbar .topbar_right, .topbar p { margin-bottom: 0 !important;} 

.topbar .atpsocials { float: right; margin: 0 auto; padding: 0; }
.topbar_left { float: left; width: 50%; text-align: left; }
.topbar_right { float: right; width: 50%; text-align: right; }

/* Primary Menu
=========================================================== */

.menuwrap { display: table-cell; vertical-align: middle;}

.iva-mobile-dropdown { display: none; }
.iva-children-indenter { display:none; }
.iva_mmenu .iva_menuicon,
.sf-menu .iva_menuicon { margin-right: 10px;}

.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
.sf-menu li { position: relative; }
.sf-menu ul { position: absolute; display: none; top: 100%; left: 0; z-index: 99; }
.sf-menu > li { float: left; }
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul { display: block; }
.sf-menu a { display: block; position: relative; }
.sf-menu ul ul { top: 0; left: 100%; }

/* Superfish Menu
=========================================================== */

.sf-menu { float: right; }
.sf-menu ul {
	box-shadow: 0px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
}
.sf-menu a {
	border-left: 0px solid #fff;
	border-top: 0px solid #dFeEFF; /* fallback colour must use full shorthand */
	border-top: 0px solid rgba(255,255,255,.5);
	padding: .7em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	font-size:12px;
	color: #666666;
}
.sf-menu li:hover, 
.sf-menu li.sfHover,
.sf-menu a:focus, 
.sf-menu a:hover, 
.sf-menu a:active { color: #222222; outline:none; }

.sf-menu li {
	background: transparent;
	white-space: nowrap; /* no need for Supersubs plugin */
	-webkit-transition: background .2s;
	transition: background .2s;
}

.sf-menu ul { background: #ffffff;}
.sf-menu ul li {
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.sf-menu li:hover,
.sf-menu li.sfHover {
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}

/* Active Page Status CSS for all the browsers */

#atp_menu li.current-cat a, 
#atp_menu li.current_page_item > a,
#atp_menu li.current-page-ancestor > a { margin: 0; color: #000000; }

/* Mobile Menu
======================================================================== */

.iva-mobile-menu {
	display: none;
	position: relative;
	top: 0;
	background-color: #252525;
 	padding: 0;
    z-index: 99999;
}
.iva-mobile-menu > ul { margin: 0 auto; padding: 0; }
.iva_mmenu { display: table; margin:0 auto; }
.iva-mobile-menu ul li  {
	list-style:none;
}
.iva-mobile-menu.iva_mobile_container > ul > li:first-child {
	padding-top: 10px;	
}

.iva-mobile-menu.iva_mobile_container > ul > li:last-child {
	padding-bottom: 10px;
}

.iva-mobile-menu.iva_mobile_container > ul > li:last-child a {
	border-bottom: 0;
}

.iva-mobile-menu ul li a {
	border-bottom: 1px dotted #555555;
    position: relative;
    display: block;
    padding: 14px 0 !important;
    font-size: 13px;
    color: #999999;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-khtml-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}

.iva-mobile-menu ul li.current-cat > a, 
.iva-mobile-menu ul li.current_page_item > a, 
.iva-mobile-menu ul li.current-page-ancestor > a,
.iva-mobile-menu ul li.current-menu-ancestor > a,
.iva-mobile-menu ul li a:hover { color: #ffffff;}

.iva-mobile-menu ul li ul {
	display: none;
	margin-left: 20px;
}
.iva-children-indenter {  
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -22px;
	color:#999999;
}

.iva-children-indenter i { padding:14px; }

.iva-menu-open .iva-children-indenter { color:#01749F; }



/* Subpage Template Navigation
=========================================================== */

.sub_nav {
	position:relative;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-box-shadow:	1px 1px 2px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 	1px 1px 2px 1px rgba(0,0,0,0.1);
	box-shadow: 		1px 1px 2px 1px rgba(0,0,0,0.1);
}

.sub_nav li ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.sub_nav li ul li a{
	background-color: #ecf0f1;
	color: #999999;
	padding: 9px 15px 9px 30px;
}

.sub_nav li a {
	display: block;
	margin: 0 0 -1px 0;
	padding: 11px 25px;
	border: 1px solid #dddddd;
	border-bottom-color: #eeeeee;
	border-top-color: #eeeeee;
	color: #666666;
}
.leftsidebar .sub_nav li a {
	background-image: url('images/sub_arrowleft_n.png');
	background-position:10px center;
	background-repeat:no-repeat;
}
.rightsidebar .sub_nav li a {
	background-image: url('images/sub_arrowright_n.png');
	background-position:10px center;
	background-repeat:no-repeat;
}

.rightsidebar .sub_nav li.current_page_item > a,
.rightsidebar .sub_nav li.current_page_item > a:hover {
	background-image: url('images/sub_arrowleft.png');
	background-position:10px center;
	background-repeat:no-repeat;
}

.leftsidebar .sub_nav li.current_page_item > a,
.leftsidebar .sub_nav li.current_page_item > a:hover {
	background-image: url('images/sub_arrowright.png');
	background-position:95% center;
	background-repeat:no-repeat;
}

.sub_nav li.current_page_item > a,
.sub_nav li.current_page_item > a:hover {
	position: relative;
	padding: 11px 25px;
	zoom: 1;
	color: #ffffff !important;
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,0.1), inset -1px 0 0 rgba(0,0,0,0.1);
	-moz-box-shadow:	inset 1px 0 0 rgba(0,0,0,0.1), inset -1px 0 0 rgba(0,0,0,0.1);
	box-shadow:			inset 1px 0 0 rgba(0,0,0,0.1), inset -1px 0 0 rgba(0,0,0,0.1);
}

.sub_nav li a:hover { background-color: #ecf0f1;}
.sub_nav li:first-child a { border-top-color: #dddddd; }
.sub_nav li:last-child a { border-bottom-color: #dddddd; }

.sticky {}

/* Search Form
=========================================================== */

.sb-align{ width: 60%; margin: 0;}
.btn-align{ 
	position: absolute;
	width: 40%; 
	top: 30px; 
	right: 0;
}

.search-form {
	width: 550px;
	background: #444;
	background: rgba(0,0,0,.2);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
	box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
.search-form input {
	width: 410px;
	height: 40px;
	padding: 10px 15px;
	float: left;    
	font: 18px 'open sans', 'lucida sans', 'arial', 'tahoma';
	font-weight: bold;
	border: 0;
	background: #ffffff;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;      
}
.search-form input:focus {
	outline: 0;
	background: #fff;
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
	box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.search-form input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
.search-form input:-moz-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}
.search-form input:-ms-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}    
.search-form button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 60px;
	width: 110px;
	font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: #fff;
	text-transform: uppercase;
	background: #01749F;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;      
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  
.search-form button:hover{
	background: #8c659a;
}
.search-form button:active,
.search-form button:focus{   
	background: #8c6599;    
}
.search-form button:before {
	content: '';
	position: absolute;
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
	border-color: transparent #01749F transparent;
	top: 20px;
	left: -6px;
}
.search-form button:hover:before{
	border-right-color: #8c6599;
}
.search-form button:focus:before{
	border-right-color: #01749F;
} 
.search-form button:active:before{
	border-right-color: #8c6599;
}  	
.search-form button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.search-button {
	text-decoration: none;
	background-color: rgb(18,127,210);
	background-color: rgba(18,127,210,1);
	background-image:	-webkit-linear-gradient(top, rgba(111,83,121,1) 0%,rgba(83,57,92,1) 100%);
	background-image:	-moz-linear-gradient(top, rgba(111,83,121,1) 0%,rgba(83,57,92,1) 100%);
	background-image:	-ms-linear-gradient(top, rgba(111,83,121,1) 0%,rgba(83,57,92,1) 100%);
	background-image:	-o-linear-gradient(top, rgba(111,83,121,1) 0%,rgba(83,57,92,1) 100%);
	background-image:	linear-gradient(top, rgba(111,83,121,1) 0%,rgba(83,57,92,1) 100%);
	-webkit-box-shadow:	0px 1px 0px 0px rgba(255,255,255,0.4)inset, 1px 0px 0px 0px rgba(255,255,255,0.4)inset, -1px 0px 0px 0px rgba(255,255,255,0.4)inset;
	-moz-box-shadow:	0px 1px 0px 0px rgba(255,255,255,0.4)inset, 1px 0px 0px 0px rgba(255,255,255,0.4)inset, -1px 0px 0px 0px rgba(255,255,255,0.4)inset;
	box-shadow:			0px 1px 0px 0px rgba(255,255,255,0.4)inset, 1px 0px 0px 0px rgba(255,255,255,0.4)inset, -1px 0px 0px 0px rgba(255,255,255,0.4)inset;
	border: solid 1px rgba(97,67,107,1);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 210px;
	display: inline-block;
	font-size: 16px;
	line-height: 60px;
	text-align: center;
	color: rgba(255,255,255,1);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.33)
}
.search-button:hover {
	background-image:	-webkit-linear-gradient(top, rgba(83,57,92,1) 0%,rgba(111,83,121,1) 100%);
	background-image:	-moz-linear-gradient(top, rgba(83,57,92,1) 0%,rgba(111,83,121,1) 100%);
	background-image:	-ms-linear-gradient(top, rgba(83,57,92,1) 0%,rgba(111,83,121,1) 100%);
	background-image:	-o-linear-gradient(top, rgba(83,57,92,1) 0%,rgba(111,83,121,1) 100%);
	background-image:	linear-gradient(top, rgba(83,57,92,1) 0%,rgba(111,83,121,1) 100%);
	-webkit-box-shadow:	0px 1px 0px 0px rgba(255,255,255,0.4)inset, 0px -1px 0px 0px rgba(255,255,255,0.2)inset;
	-moz-box-shadow:	0px 1px 0px 0px rgba(255,255,255,0.4)inset, 0px -1px 0px 0px rgba(255,255,255,0.2)inset;
	box-shadow:			0px 1px 0px 0px rgba(255,255,255,0.4)inset, 0px -1px 0px 0px rgba(255,255,255,0.2)inset;
	border: solid 1px rgba(0,52,129,1);
	color: #ffffff;
	cursor: pointer;
}

/* Frontpage Teaser
=========================================================== */

.frontpage_teaser{
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
	padding: 60px 0;
	z-index: 100;
	background: transparent;
	background-color: #f0f0f0;
	background-color: rgba( 255, 255, 255, 0.85 ); 
    filter:'progid:DXImageTransform.Microsoft.gradient(startColorstr=#85f0f0f0,endColorstr=#85f0f0f0)';
	zoom: 1;
}

/* Subheader
=========================================================== */

#stretched #subheader { width: 100%; }

#subheader{
	background-color: #f7f7f7;
	display: table;
	border-bottom: 0px solid #e8e8e8;
	position: relative;
	margin: 0 auto;
	padding: 20px 0;
	width: 100%;
	z-index:18;
}

#subheader .page-title {
	float: left;
	margin-bottom: 0;
	letter-spacing: -1px;
	line-height: 100%;
}

#subheader .subdesc { float: left; width: 60%;}
#subheader .customtext { 
	display:block; 
	padding: 5px 0 0 20px; 
	overflow:hidden;
}

#subheader .customtext h2 {
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	margin-bottom: 0;
}

#subheader ul.tweet { margin: 0; }
#subheader ul.tweet > li { padding-bottom: 0;}
#subheader a { color:#999999;}
#subheader a:hover { color:#444444;}

#subheader.sub_disabled { padding:5px 0;}

/* Breadcrumb
=========================================================== */

.breadcrumbs { position: relative; float: right; font-size: 12px; line-height: 36px; margin: 0; padding: 0; }
.breadcrumbs .separator { padding:0 3px;}

.breadcrumbs a { color: #dddddd; }
.breadcrumbs a:hover{ color: #ffffff;}

/* Footer
=========================================================== */

#footer {
	color: #333333;
	position: relative;
	overflow: hidden;
	margin: 0px auto 100px auto;
	padding: 30px 0;
	font-size: 12px;
	background-color: #f7f7f7;
}

#footer ul li{ font-size: 12px; }

#footer .footer-sidebar { 
	border-bottom:0px solid #dddddd;
	overflow:hidden;
	margin-bottom:30px;
}

#footer .widget-title { color: #333333; text-transform:uppercase; }

.card-icons ul{ padding: 0; margin: 0;}
.card-icons li{ float: right; margin-left: 5px; display: inline;}

/* Copyright
=========================================================== */

.copyright  { position: relative; margin: 0 auto; padding: 0; }

.copyright_left ul,
.copyright_right ul		{ margin: 0; padding: 0; }
.copyright_left ul li,
.copyright_right ul li 	{ display: inline-block; padding: 0; background:none;  }
.copyright_left ul li a,
.copyright_right ul li a { color: #999999; }
.copyright_left ul li a:hover,
.copyright_right ul li a:hover	{ color: #000000; }

.copyright p { margin-bottom: 0;}

.copyright_left { float: left; width: 50%; }
.copyright_right { float: right; width: 50%; text-align: right; }

/* Custom Animation
=========================================================== */
.custom-animation { position: relative; padding: 0; }

/* Search Widget
=========================================================== */

.widget.widget_search { position: relative; width: 100%; }

* html .search-box { margin-top: 10px; }
*:first-child+html .search-box { margin-top: 10px !important; }
.search-box input  { 
	width: 90%; 
	background-color: #ffffff;
	color: #B2B2B6;
	margin: 0 auto; 
	padding: 8px 12px;
	font-size: 12px; 
	font-family: open sans, arial;
	border: 0px solid #dddddd;
}
.search-box input:focus {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #CFCFCF;
	color: #555555;
}

/* Widgets
=========================================================== */

.widget { margin: 0 0 45px 0; }
.widget ul  { margin: 0; padding: 0; list-style: none; }
.widget ul ul { margin-bottom: 0; }
.widget ul li:last-child { border-bottom: 0! important; }

.widget-title { font-weight: normal; }
.widget_recent_entries .post-date { display:block; font-size:10px; }

#menu-primary-menu li, 
.widget_pages li, 
.widget_meta li, 
#menu-primarymenu li, 
.widget_recent_entries li, 
.widget_archive li, 
.widget_categories li { 
	background:url('images/bullets/list_gray.png') -100px -378px no-repeat; 
	padding:0 0 8px 20px;
}

#recentcomments li{ padding:0 0 8px 0; }

#footer .widget_pages li,
#footer .widget_meta li,
#footer .widget_recent_entries li,
#footer .widget_archive li,
#footer .widget_categories li,
#footer #recentcomments li {
	border-bottom:1px solid #454b52;
}

/* Default Calendar Widget
=========================================================== */

.widget_calendar {float: left;}
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }

#footer #wp-calendar caption { color:#d9dcdf; }
#footer #wp-calendar tbody td { background: #454b52; border: 1px solid #363a3f; }
#footer #wp-calendar tbody td:hover { background: #555c64; }
#wp-calendar a {text-decoration:underline;}


/* Default Alignment
=========================================================== */

.left {float: left;}
.right {float: right; text-align: right;}
.center {float: none; text-align: center; margin: inherit auto;}

.alignleft, img.alignleft, a img.alignleft  { float: left; margin: 4px 10px 0px 0px;}
.alignright, img.alignright, a img.alignright { float: right; margin: 0 15px 15px 0; }
.aligncenter, img.aligncenter, a img.aligncenter { clear: both; display: block; margin: 10px auto 20px auto; padding: 2px; text-align: center;	}

/* Default Image Caption
=========================================================== */

div .wp-caption { font-size: 11px; font-style: italic; margin: 5px 15px 10px 0px; max-width: 100% ; border: 1px solid #333333; position:relative;}
.wp-caption img { border: medium none; display:block; margin: 0; padding: 5px; width:100%;}
.wp-smiley { margin: 0; }
.wp-caption-text { display: block; font-family: Georgia,"Times New Roman"; font-size: 11px; margin: 0 auto; padding: 3px 10px 5px; text-align: center;}

/* Staff Box
=========================================================== */

.bio { position: relative; background-color: #f5f5f5; box-sizing: border-box; }
.bio hgroup { text-align: left; }

.bio::before,.bio::after { box-sizing: border-box; position: absolute; content: ''; }
.bio::before { width: 99%; left: .5%; bottom: -4px; }
.bio::after { width: 98%; left: 1%; bottom: -7px; }

.bio .details { background: #f5f5f5; padding: 20px 20px 0 20px; }
.bio .details p	{ padding: 0 20px; }

.bio img { max-width: 100%; display:block;}
.bio h4 { margin-bottom:0px; }

.bio span.staff-role {
	margin-bottom:20px;
	display:  block;
	color: #b2b2b2;
}

.bio .sociables { text-align: center; margin: 0;  padding: 15px 0; }

.bio .atpsocials li {
	float:none;
	background: none !important;
	display: inline-block; 
	position:relative;
}

.bio .atpsocials li a{ 
	display: inline-block; 
	width: 30px;
	padding: 0 !important;
	height: 20px;
	-webkit-transition:	all 200ms ease-in;
	-moz-transition:	all 200ms ease-in;
	-o-transition:		all 200ms ease-in;
	-ms-transition:		all 200ms ease-in;
	transition:			all 200ms ease-in;
}

/* Sociables
=========================================================== */

ul.atpsocials { list-style:none; margin:0; padding:0; } 
ul.atpsocials li img { position: relative; 	vertical-align: text-top;}
ul.atpsocials li { 
	display: inline-block; 
	padding: 1px; 
	margin: 0 1px 1px 0; 
	line-height: 30px; 
	text-align: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-transition: all 200ms ease-in;
	-moz-transition:    all 200ms ease-in;
	-o-transition:      all 200ms ease-in;
	-ms-transition:     all 200ms ease-in;
	transition:         all 200ms ease-in;
}

/*
Deprecated Since 3.0.0
-------------------------------
ul.atpsocials li a.beatport		{ background: url('images/sociables/beatport_bio.png') center center no-repeat; }
ul.atpsocials li a.blogger		{ background: url('images/sociables/blogger_bio.png') center center no-repeat; }
ul.atpsocials li a.delicious	{ background: url('images/sociables/delicious_bio.png') center center no-repeat; }
ul.atpsocials li a.deviant		{ background: url('images/sociables/deviant_bio.png') center center no-repeat; }
ul.atpsocials li a.digg			{ background: url('images/sociables/digg_bio.png') center center no-repeat; }
ul.atpsocials li a.facebook		{ background: url('images/sociables/facebook_bio.png') center center no-repeat; }
ul.atpsocials li a.flickr		{ background: url('images/sociables/flickr_bio.png') center center no-repeat; }
ul.atpsocials li a.forrst		{ background: url('images/sociables/forrst_bio.png') center center no-repeat; }
ul.atpsocials li a.google		{ background: url('images/sociables/google_bio.png') center center no-repeat; }
ul.atpsocials li a.linkedin		{ background: url('images/sociables/linkedin_bio.png') center center no-repeat; }
ul.atpsocials li a.instagram	{ background: url('images/sociables/instagram_bio.png') center center no-repeat; }
ul.atpsocials li a.pinterest	{ background: url('images/sociables/pinterest_bio.png') center center no-repeat; }
ul.atpsocials li a.rss			{ background: url('images/sociables/rss_bio.png') center center no-repeat; }
ul.atpsocials li a.skype		{ background: url('images/sociables/skype_bio.png') center center no-repeat; }
ul.atpsocials li a.stumbleupon	{ background: url('images/sociables/stumbleupon_bio.png') center center no-repeat; }
ul.atpsocials li a.twitter		{ background: url('images/sociables/twitter_bio.png') center center no-repeat; }
ul.atpsocials li a.dribbble		{ background: url('images/sociables/dribbble_bio.png') center center no-repeat; }
ul.atpsocials li a.soundcloud	{ background: url('images/sociables/soundcloud_bio.png') center center no-repeat; }
ul.atpsocials li a.vimeo		{ background: url('images/sociables/vimeo_bio.png') center center no-repeat; }
ul.atpsocials li a.yahoo		{ background: url('images/sociables/yahoo_bio.png') center center no-repeat; }
ul.atpsocials li a.youtube		{ background: url('images/sociables/youtube_bio.png') center center no-repeat; }
*/

ul.atpsocials li.facebook:hover		{ background-color:#3B5998; }
ul.atpsocials li.twitter:hover		{ background-color:#00A0D1; }
ul.atpsocials li.beatport:hover		{ background-color:#B6DD36; }
ul.atpsocials li.dribbble:hover		{ background-color:#ea4c88; }
ul.atpsocials li.flickr:hover		{ background-color:#FE0883; }
ul.atpsocials li.deviant:hover		{ background-color:#5C7062; }
ul.atpsocials li.blogger:hover		{ background-color:#FF8833; }
ul.atpsocials li.google:hover		{ background-color:#C63D2D; }
ul.atpsocials li.linkedin:hover		{ background-color:#4875B4; }
ul.atpsocials li.instagram:hover	{ background-color:#b77f5f; }
ul.atpsocials li.pinterest:hover	{ background-color:#910101; }
ul.atpsocials li.reditt:hover		{ background-color:#CEE3F8; }
ul.atpsocials li.rss:hover			{ background-color:#FA9B39; }
ul.atpsocials li.stumbleupon:hover 	{ background-color:#EB4924; }
ul.atpsocials li.soundcloud:hover	{ background-color:#FE531B; }
ul.atpsocials li.tumblr:hover		{ background-color:#34526F; }
ul.atpsocials li.youtube:hover		{ background-color:#C4302B; }
ul.atpsocials li.vimeo:hover		{ background-color:#0caed4; }
ul.atpsocials li.digg:hover			{ background-color:#910101; }
 
ul.atpsocials li { 
	background: transparent;
	background-color: rgba( 0, 0, 0, 0.3 ); 
    filter:'progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000)';
	zoom: 1;
}

ul.atpsocials li a,
ul.atpsocials li a:hover,
ul.atpsocials li:hover a { color:#ffffff; }

/* Sticky Bar
=========================================================== */

#sticky { top: 0; display: none; position: relative;  width: 100%;  padding: 10px 0;  z-index: 1000;  background-color:#F6F3DA; color: #222222; font-size: 12px; text-align: center; }
#sticky a { }
#sticky a:hover { text-decoration:underline; }

.tarrow { 
	position:absolute;
	top: 5px;
	right:10px; 
	width: 29px; 
	height: 41px; 
	background: url('images/toggle_up.png') 0 0 no-repeat; 
	z-index: 2000;
	cursor: pointer;
}

.tarrow.active {
	background: url('images/toggle_down.png') 0 0 no-repeat;
}

/* Blog Post
=========================================================== */

.post { position: relative; padding-bottom: 40px; margin-bottom:40px; }

.post .quote { font-style: italic; font-family: Georgia, Times, Serif; }
.post .quote span { font-size: 14px; text-align: left; }
.post .quote span:before { content: "\2014 \00A0"; }
.post:after{ clear: both; content: ""; }

.post h2.entry-title {
	text-transform: none !important;
	margin: 0 0 10px 0 !important;
	line-height:1.3em;
	font-size: 30px;
}

.post .sub-title {
	color: #B2B2B6;
	font-size: 11px;
	font-weight: bold;
	position: relative;
	top:-10px;
}

.post .postimg { margin-bottom:15px; }
.post_content .flexslider,
.post_content .video-frame { margin-bottom:20px; } 
.post-info  {
	position: relative;
	display: block;
	margin-bottom: 20px;
	font-size: 11px;
	color: #999999;
}

.post-metadata { overflow:hidden; font-size: 11px; font-weight: bold; text-transform: uppercase; }
.post-metadata span { padding:0 10px; }
.post-metadata span:first-child { padding-left:0; }
.post-entry { clear:both; position:relative; }
.comments-title {margin-bottom: 30px;}

/* Post Formats
=========================================================== */

.status-format { margin-right:10px; float:left; }

.postformat-link, 
.postformat-quote,
.postformat-video,
.postformat-audio,
.postformat-gallery,
.postformat-aside,
.postformat-image,
.postformat-status,
.postformat-standard { 
	display: block;
	overflow: hidden;
	width: 30px;
	height: 30px;
	top: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ff8989;
	-webkit-border-radius:	5px;
	-moz-border-radius:		5px;
	border-radius:			5px;
}

.postformat-link	{ background-image: url('images/postformat/postformat-link.png');}
.postformat-quote	{ background-image: url('images/postformat/postformat-quote.png'); }
.postformat-video	{ background-image: url('images/postformat/postformat-video.png'); }
.postformat-audio	{ background-image: url('images/postformat/postformat-audio.png'); }
.postformat-gallery	{ background-image: url('images/postformat/postformat-gallery.png'); }
.postformat-aside	{ background-image: url('images/postformat/postformat-aside.png'); }
.postformat-image	{ background-image: url('images/postformat/postformat-image.png'); }
.postformat-status	{ background-image: url('images/postformat/postformat-status.png'); }
.postformat-standard{ background-image: url('images/postformat/postformat-post.png'); }
/* Blog  style2
=========================================================== */
.blogstyle2  .blog_postimg { float:left; width:350px;  padding:20px; }
.blogstyle2 .blog_postimg img { width:100%;  }
.blogstyle2 .post_content { overflow:hidden; }

/* Related Posts
=========================================================== */

.related-posts { overflow: hidden; margin: 0 0 20px; padding: 20px 0; }
.related-posts h4 { margin-bottom:0; }

.related-posts ul { margin:0; padding:0; }
.related-posts li  { 
	font-size:16px;
	background:url('images/bullets/list_gray.png') -100px -378px no-repeat;
	display: block; 
	margin: 0 0 5px 0; 
	padding: 0 0 0 20px;
	color:#999999;
}

.related-posts li span { font-size:12px;}

/* Select Wrapper
=========================================================== */

.select_wrapper {
	font-size: 11px;
	background: #fafafa url('images/select.png') no-repeat right center;
	border: 1px solid #dddddd;
	float: left;
	height: 26px;
	margin: 0;
	margin-bottom: 9px !important;
	width: 20%;
	display: block;
	color: #666666;
	-webkit-box-shadow:	inset 0px 0px 2px 1px #EEEEEE;
	-moz-box-shadow:	inset 0px 0px 2px 1px #EEEEEE;
	box-shadow:			inset 0px 0px 2px 1px #EEEEEE;
}

.select_wrapper { background-color: #fff; }
.select_wrapper:hover { background-color: #fff; border-color: #bbb #eee #eee #bbb; color: #333; }
.select_wrapper span  { height: 26px; line-height: 26px; position: absolute; z-index: 0; padding-left: 3px; }
select.select { cursor: pointer; height: 28px; margin: 0; -moz-opacity: 0; filter: alpha(opacity=0); opacity: 0; padding: 0; position: relative; width: 100%; z-index: 4; }

/* Pagination
=========================================================== */

.pagination { padding: 40px 0 0 0; margin-bottom:20px; }

.pagination a, 
.pagination a:link{ 
	margin: 0 4px;
	border: 1px solid #dddddd;
	padding: 5px 8px;
	font-size: 14px;
	background-color: #ffffff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.pagination a:visited,
.pagination a:active,
.pagination span.current { 
	padding: 5px 8px;
	margin-right: 4px;
	font-size: 14px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.pagination a:hover { 	background-color: #01749F; color:#ffffff; }
.pagination span.current { 	background-color: #01749F; color:#ffffff;}
.pagination span.extend { background: transparent; float: right; font-size: 14px;}

/* Hover Type
=========================================================== */

.hover_type   { display: none; position: absolute; z-index: 10; left: 50%; margin-left:-30px; top:50%; margin-top:-30px; }
.hover_type a { 
	position: absolute; 
	top: 0; 
	width: 60px; 
	height: 60px;
	border-radius:100%;
	background-color: #333333; 
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition:		all 0.3s ease;
	-moz-transition:		all 0.3s ease;
	-o-transition:			all 0.3s ease;
	transition:				all 0.3s ease;
}
.hover_type a.hoveraudio,
.hover_type a.hoveralbum, 
.hover_type a.hoveralbums	{ background-image: url('images/icon_audio.png'); }
.hover_type a.hovervideo	{ background-image: url('images/icon_video.png'); }
.hover_type a.hovergallery	{ background-image: url('images/icon_gallery.png'); }
.hover_type a.hoverartist, 
.hover_type a.hoverartists	{ background-image: url('images/icon_artist.png'); }
.hover_type a.hoverimage 	{ background-image: url('images/icon_image.png'); }
.hover_type a.hoverdjmix	{ background-image: url('images/icon_djmix.png'); }

.hover_type a.hoveraudio:hover,
.hover_type a.hoveralbum:hover,
.hover_type a.hoveralbums:hover,
.hover_type a.hovervideo:hover,
.hover_type a.hovergallery:hover,
.hover_type a.hoverimage:hover,
.hover_type a.hoverdjmix:hover,
.hover_type a.hoverartists:hover,
.hover_type a.hoverartist:hover { background-color:#01749F;}

.hoverimage { position: absolute; background:transparent url('images/hoverimage.png') no-repeat center center;}

.imageframe  a img, 
.imageframe  a:hover img { position:relative; z-index:2; }

/* Blog Carousel
=========================================================== */

.blog-carousel-plain .blog-carousel-item-title { 
	margin:0;
	padding:5px 0; 
	font-size:14px; 
	font-weight:bold; 
}

.blog-carousel .blog-carousel-item-title { 
	margin:0;
	padding:15px 0; 
	font-size:14px; 
	font-weight:bold; 
	}
.post_list{ 
	margin: 0;
	text-align: left;
}

.style2 .post_list { 
	padding:5px 10px;
	border:1px solid #ddd;
	border-width:0px 1px 1px 1px;
	height:80px;
	overflow:hidden;
}

.post_list .content {
	background-color: #90d0d8;
	padding: 15px;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition:    all 0.5s ease 0s;
	-o-transition:      all 0.5s ease 0s;
	transition:         all 0.5s ease 0s;
}

.post_list:hover .content{ color: #ffffff; }
.post_list:hover .content h5,
.post_list:hover .content a { color: #ffffff;}

.post_list .entry-title { margin: 0; }
.post_list .post-info { margin: 0 0 10px 0; font-size:11px; color: #999999; }
.post_list .postmeta span { padding: 0 10px 0 0; }
.post_list .post-info a { color: #666;}
.post_list .post-info a:hover { color: #000000}

.blog-carousel .item { padding:5px; }

[id^='carousel-'] .item{
    margin: 3px;
 }
[id^='carousel-'] .item img{
    display: block;
    width: 100%;
    height: auto;
}

.item.post-list { margin:0 8px;}

/* Author Post Box
=========================================================== */
#entry-author-info { padding:0; margin:0 0 40px; overflow: hidden; }
.author_entry  { margin: 0; }
.author-avatar  img{ 
	float: left; 
	margin: 0 20px 0 0; 
}

.author-description { overflow:hidden; }
.author-description p { margin-bottom: 5px;}
 
/* Post Navigation
=========================================================== */
#nav-below { overflow: hidden; }

#nav-below .nav-previous	{
	position: relative;
	display: inline-block;
	line-height: 1.2em;
	width: 50%;
	float: left;
}

#nav-below .nav-next  {
	display: inline-block;
	position: relative;
	line-height: 1.5em;
	width: 50%;
	float: right;
	text-align: right;
}

.nav-previous span { margin-right: 10px; }
.nav-next span     { margin-left: 10px; }
.nav-next span,
.nav-previous span { 
	line-height: 2em; 
	text-transform: uppercase; 
	display: block; 
	color: #aaa;
}


/* Comments
=========================================================== */

#comments { margin: 0; padding: 20px 0; }
.comments-title em { 
	display: block; 
	font: italic 12px Georgia, Times, Serif;
}

.comments-area ol { margin: 0 0 30px 0; padding: 0; }
.comments-area ol li { margin: 0;  padding:0; list-style-type:none;}
.comments-area .comment_wrap {
	position: relative;  
	margin: 0 0 30px 0;
	padding: 0 0 15px 0; 
	border-bottom: 1px solid #ddd;
}
.comments-area .comment-author { display:block; overflow:hidden; }
.comments-area .comment-author .avatar { float:left; margin-right:10px; }
.comments-area .comment-meta { font-size: 11px; }
.comments-area .single_comment  { clear:both; margin-top:10px; }
.comments-area li.bypostauthor cite span {
	margin-left: 5px;
	padding: 2px 5px;
	font-size: 11px;
	background: #666;
	color: #fff;
	-webkit-border-radius:	3px;
	-moz-border-radius: 	3px;
	border-radius: 			3px;
}
.comments-area .comment-meta cite { 
	display: block; 
	font-weight: bold;
	font-style: normal;
}
.commentlist ul.children { 
	margin: 0; 
	padding: 0 0 0 50px;  
}
.commentlist .children .comment_wrap { padding-top: 0; }
.commentlist .moderation { margin-top: 10px; color: #dd0000;   }
.commentlist .children   { margin-bottom: 0;}
.comment-author-admin .avatar { 
	padding-bottom: 1px; 
	border-bottom: 0  solid #222;
}
.comment-edit-link,
.post-edit-link { 
	background: #01749F;
	padding: 3px 8px; 
	color: #ffffff;
}
.post-edit-link:hover,
.comment-edit-link:hover { color:#fff;}

/* Comment Reply form
=========================================================== */

#respond {
	margin: 20px 0;
	padding: 0;
	position: relative;
	width: 97%;
}
#respond input[type="text"],
#respond textarea {
	position: relative;
	padding: 5px;
	text-indent: 80px;
	border: 1px solid #DDDDDD;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	color: #555;
	display: inline-block;
	font-size: 13px;
	min-width: 60px;
	padding: 4px 10px;
	position: relative;
	top: 30px;
	z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}
#respond textarea {
	resize: vertical;
	width: 100%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	right: 0;
	position: absolute;
	top: 7px;
	z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as { font-size: 13px;}


#respond .form-submit { margin: 10px 0 10px; }

#respond input#submit {
	background-color: #bbbbbb;
	border: none;
	color: #eee;
	cursor: pointer;
	font-size: 15px;
	margin: 20px 0;
	padding: 5px 20px;
	position: relative;
}

#respond input#submit:active {
	background: #1982d1;
	color: #bfddf3;
}

#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.commentlist #respond { margin: 1.625em 0 0; width: auto; }

#reply-title {
	color: #373737;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

#respond label {
	line-height: 1.1em;
}
#respond input[type=text] {
	display: block;
	height: 24px;
	width: 100%;
}
#respond p { font-size: 12px; margin: 0;}

p.comment-form-comment { margin: 0; }
.form-allowed-tags { display: none; }

/* 404 Error Page
=========================================================== */

.error_404 { clear: both; padding: 80px 0; text-align: center; }
.error_404 h2 { font-size: 70px; line-height: 70px; margin-bottom: 30px; }
.error_404 h5 { font-size: 22px; line-height: 25px; margin-bottom: 55px; }

/* Services Box
=========================================================== */

.service-box h1, .service-box h2, .service-box h3, .service-box h4, .service-box h5, .service-box h6 { margin-bottom: 10px; }
.service-box b { display: block; font-size: small; }
.service-icon { float: none; }
.service-content { overflow: hidden; text-align: left;}

/* Services Icon
=========================================================== */
.services-icon { position: relative; display: block; float: left; width: 40px; margin: 0px 10px 0 0; line-height: 40px; text-align: center; border-radius: 100%; }
.services-heading h3 { font-size: 16px; font-weight: bold;  letter-spacing: 1px; line-height: 36px; margin-bottom: 10px; text-transform: uppercase; }

/* Tooltip
=========================================================== */

.ttip {
	display: none;
	position: absolute;
	bottom: 40px;
	left: 0;
	padding: 6px 10px;
	font-size: 11px;
	line-height: 15px;
	background-color: #333333;
	color: #ffffff;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}

.ttip::after {
	content: "";
	position: absolute;	
	top: 100%;
	left: 10px;
	border-top-color: inherit; 
	border-top: 6px solid #333333;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent; 
}

/* Backto top scroll
=========================================================== */

#back-top { display: none; position: fixed; bottom: 90px; right: 10px; z-index: 100001; }
#back-top a {
	width: 60px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbbbbb;
	-webkit-transition:	0.5s;
	-moz-transition: 	0.5s;
	transition: 		0.5s;
}

/* Arrow Icon (Span Tag) */
#back-top span {
	width: 40px;
	height: 40px;
	display: block;
	background: #01749F url('images/top_arrow.png') no-repeat center center;
	-webkit-transition:	1s;
	-moz-transition: 	1s;
	transition: 		1s;
}

#back-top a:hover { color: #000000; }
#back-top a:hover span { background-color: #333333; }
#back-top a:focus span { background-color: #333333; }

/* Contact Form 7 Plugin Custom Styling
=========================================================== */

.wpcf7-form input, 
.wpcf7-form textarea {
	background: none repeat scroll 0 0 #F7F7F8;
	border: 1px solid #EEEEEE;
	color: #B2B2B6;
	padding: 5px 10px;
	margin-top:5px;
	width: 400px;
}

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"]{ max-width: 97%; margin: 5px 0 0 0; }

.wpcf7-form textarea { width: 96.5%; max-width: 97%; margin: 5px 0 0 0; }
.wpcf7-form select { width: 400px; max-width: 97%; margin: 5px 0 0 0; padding:8px; }

.wpcf7-form .wpcf7-submit { background-color: #333333; color: #ffffff;	padding: 10px 10px; margin-top: 5px; width: 150px; }

.wpcf7-form input[type="checkbox"] {    width: auto }

.wpcf7 form .wpcf7-form p { font-weight: bold; margin: 0 0 18px 0 !important; }

.wpcf7-list-item-label 	{ font-weight: normal }
.wpcf7-response-output 	{ display: none }
.wpcf7-form .invalid 	{ color: #bf1515 !important }
.wpcf7-not-valid 		{ border: 1px solid #bf1515 !important }
.wpcf7 span.wpcf7-not-valid-tip { display: none }

div.wpcf7-response-output { margin: 0px !important; padding: 5px 10px !important; }

div.wpcf7-mail-sent-ok,
div.wpcf7-mail-sent-ng,
div.wpcf7-spam-blocked,
div.wpcf7-validation-errors{
	position:relative;
	display:block;
	padding:10px 30px !important;
	margin-bottom: 20px;
	font-weight:bold;
	text-align:center;
	background-color:#F7F7F7;
	border:1px solid #ddd !important;
	-webkit-box-shadow:	1px 1px 2px 0 rgba(0, 0, 0, 0.03);
	-moz-box-shadow:	1px 1px 2px 0 rgba(0, 0, 0, 0.03);
	box-shadow:	1px 1px 2px 0 rgba(0, 0, 0, 0.03);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

div.wpcf7-mail-sent-ok {
	background-color: #ebf2d8;
	border-color: #C1D96A !important;
	color: #81A81D;
}

div.wpcf7-mail-sent-ng {
	background-color: #E8FAFB;
	border-color: #C2DADE !important;
	color: #468BBF;
}

div.wpcf7-spam-blocked {
	background-color: #f6f3da;
	border-color: #D4CFA4 !important;
	color: #b89c00;
}

div.wpcf7-validation-errors {
	background-color: #FFE5E5;
	border-color: #E8A7A7 !important;
	color: #E65451;
}

.wpcf7-form p span{
}



/* MUSIC TEMPLATES CSS
 *
 * Do not change the css below copy the rule and change write
 * your own css in theme options panel > styling > custom css section. 

 * If you make changes you may loose while updating the theme and
 * it impacts the layout. Do at your own risk.
=========================================================== */


/* Artist Template & Signle Page
=========================================================== */

.artist-list { position:relative;}
.artist-desc { 
	background-color: #ffffff;
	padding: 10px;
	overflow: hidden;
	border:1px solid #dddddd;
	border-width: 0 1px 1px 1px;
	-webkit-border-radius: 0px 0px 4px 4px;
	   -moz-border-radius: 0px 0px 4px 4px;
	        border-radius: 0px 0px 4px 4px;
}
.artist-desc > span { display: block; font-size: 11px; }
.artist-list .entry-title { margin-bottom:0px; font-size:14px;  }
.artist-list .entry-title > a { color:#444444; }

.artist-list:hover .artist-desc { background-color:#01749F; }
.artist-list:hover .artist-desc * { color:#ffffff; }
.artist-list:hover .artist-desc span { color:rgb(255,255,255) }
.artist-list:hover .artist-desc span { color:rgba(255,255,255,0.8) }
.artist-details { margin-top:20px; }

.artist-desc > span { font-size:11px;}
.artistpost_entry { overflow: hidden;}
.artist-meta { font-size:11px; padding:2px 0; }
.artist-meta .artist-label {
	display:inline-block;
	float: left; 
	margin: 0 1px 1px 0; 
	font-weight: bold; 
	padding: 0; 
	width: 48%; 
}
.artist-meta .album-mdata {
	overflow: hidden;	
}

.artist-mdata a {display: block; outline: none; color:#01749F;}

.iva-brstyle .artist-details { margin-top: 0; border:1px solid #dddddd; }
.iva-brstyle .artist-meta { font-size:11px; padding:7px 14px; border-bottom:1px solid #dddddd; }
.iva-brstyle .artist-meta:last-child { border: none; }


/* Album Template & Sigle Page
=========================================================== */

.album-list { position:relative; }
.album-desc { 
	background-color: #ffffff;
	padding: 10px;
	overflow: hidden;
    border-top: none;
	border:1px solid #dddddd;
	border-width: 0 1px 1px 1px;
	-webkit-border-radius: 0px 0px 4px 4px;
	   -moz-border-radius: 0px 0px 4px 4px;
	        border-radius: 0px 0px 4px 4px;
}
.album-desc > span { display: block; font-size: 11px; color:#999999;}
.album-list .entry-title { margin-bottom:0px; font-size:14px;  }
.album-list .entry-title > a { color:#444444; }

.album-list:hover .album-desc { background-color:#01749F; }
.album-list:hover .album-desc * { color:#ffffff; }

/* Album Single Page*/
.iva-brstyle .album-meta { padding:7px 14px; border-bottom:1px solid #dddddd; }
.iva-brstyle .album-details { margin-top:0px; border: 1px solid #dddddd; border: 1px solid rgba(0, 0, 0, 0.1); }

.artists-link a { color:#444444;}
.artists-link a:hover { text-decoration: underline; }

.albumpost_entry { overflow: hidden;}
.album-details { margin-top:20px; }
.album-meta { font-size:11px; line-height:24px; margin-bottom:7px; clear:both; line-height:normal; padding:1px 0; }
.album-meta:last-child { border: none; }

.album-meta .album-label {
	display:inline-block;
	float: left; 
	margin: 0 1px 1px 0; 
	font-weight: bold; 
	padding: 0; 
	width: 48%; 
}
.album-meta .album-mdata {
	overflow: hidden;	
}

.album-mdata a {display: block; outline: none; color:#01749F;}

.album-title { font-size: 28px;  margin-bottom: 5px;}
.album-title span { font-size: 18px;}
.artist-text { font-size:14px; display: block; margin-bottom:20px; }

.album-playlist { 
	margin: 5px 0 40px 0; 
	padding-left:0;
	list-style-type:decimal-leading-zero; 
	}

.album-playlist li{ 
	position:relative;
	line-height: 26px;
    padding: 8px 40px;
    font-size: 14px;
    background: #f0f0f0;
    margin-bottom: 1px;
	margin-left:0px;
	list-style: outside none none; 
	overflow: hidden;
}

.album-playlist li > a {
	position: absolute;
	display: table;
	left: 5px;
	height: 100%;
	font-size:14px; 
	color: #444444; 
	text-decoration:none;
	outline: none;
	z-index:1;
	width: 26px;
	}

.album-playlist li.selected > a { background-color:#e8e8e8; }
	
.album-playlist li:hover{ 
	background-color: #e9e9e9;
	-webkit-transition:	all 200ms ease-in;
	-moz-transition:	all 200ms ease-in;
	-o-transition:		all 200ms ease-in;
	-ms-transition:		all 200ms ease-in;
	transition:			all 200ms ease-in;
}

.album-playlist li.selected { background-color: #e8e8e8; }
.fap-single-track  { font-weight: normal; font-size:15px;}

.mp3list-head { margin: 15px 0; }
.mp3list-head > span { display: inline-block; padding-right:12px; margin-right: 12px; border-right:1px solid #dddddd; font-size: 11px;}
.mp3list-head span:last-child { border-right: 0; }

/* New Play Animated Icon
================================================= */
.ivaplay {
	display: table-cell;
	border-radius: 50px;
	height: 26px;
	margin: 0 auto;
	vertical-align: middle;
	background:url('images/play.png') no-repeat scroll center center transparent;
}

.selected .ivaplay {
	background:url('images/playing.gif') no-repeat scroll center center transparent;
}
/*------------------------------------------------*/

.tracks{ font-weight: 400; margin: 15px 0 5px 0; display: block;}
.label_space { height: 30px; position: relative; display: block; clear: both;}
.demo-space { height: 20px; position: relative; display: block; clear: both;}
#single-player-meta,
.single-player-meta { display:none; }
.more-labels { 
	background-color: #eeeeee;
	padding: 30px 0 0 0;
	}

.more-labels .fancy-title {
	font-size:16px;
}

.more-labels:before,
.more-labels:after {
	clear:both;
	content:"";
	display:table;
}

.buttons-wrap { margin:10px 0; }

.arts_name {
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* DJMix template
=========================================================== */
.djmix-list {
	border-bottom: 1px solid #dddddd;
	min-height: 80px;
	position: relative;
	padding: 15px 0;
	overflow: hidden;
}
.djmix-list .entry-title {
	font-size:14px;
	/*	line-height:110%; */
	line-height: 18px;
	margin-bottom:0;
 }

.djmix_thumb { display: inline-block; float: left; margin-right: 15px; }
.djmix-content { overflow: hidden;  }
.djmix-buttons .djbtn { display: inline-block; float: left; }

.djmix-postmeta span{ margin-right: 5px; font-size:11px; }
.djbtn.fap-my-playlist li {
	list-style-type: none !important;
}

.play.mediamx { display:inline-block; float:left; margin-right: 10px; }

.djmix-list .ivaplay { 
	display: inline-block;
    margin-right: 10px;
    position: relative;
	width: 16px;
	height: 16px;
}

/* since 3.1.0 */
.djmix-slist .entry-title a { color:#444444;  }
.djmix-slist .entry-title a:hover { color:#444444;  }

/* Gallery Template & Single Page
=========================================================== */

.gallery-list { position:relative;}
.gallery-desc { 
	background-color: #ffffff;
	padding: 10px;
	overflow: hidden;
	border:1px solid #dddddd;
	border-width: 0 1px 1px 1px;
	-webkit-border-radius: 0px 0px 4px 4px;
	   -moz-border-radius: 0px 0px 4px 4px;
	        border-radius: 0px 0px 4px 4px;
}
.gallery-desc > span { display: block; font-size: 11px; }
.gallery-list .entry-title { margin-bottom:0px; font-size:14px;  }

.gallery-list:hover .gallery-desc { background-color:#01749F; }
.gallery-list:hover .gallery-desc * { color:#ffffff; }
.gallery-list:hover .gallery-desc span { color:rgb(255,255,255) }
.gallery-list:hover .gallery-desc span { color:rgba(255,255,255,0.8) }

.gallery-details span { 
	float: left; 
	margin: 0 2px 2px 0; 
	font-weight: normal; 
	padding: 5px 10px; 
	width: 46%; 
}
.gallery-meta{ text-transform: uppercase;}
.gallery-postimg { position:relative; float: left; margin: 6px;}
.widget .gallery-postimg { margin: 2px;}
.gallery-wrap:before,
.gallery-wrap:after {
	clear:both;
	content:"";
	display:table;
}

/* @since v3.1.0 */
.gallery-list .entry-title > a { color:#444444;  }
.gallery-list .entry-title > a:hover { color:#ffffff;  }

.gallery-caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 3px;
	font-size: 11px;
	color: #ffffff;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
}


/* Video Template & Signle Page
=========================================================== */

.video-list,
.post-list { position:relative;}
.video-desc,
.post-desc
 { 
	background-color: #ffffff;
	padding: 10px;
	overflow: hidden;
	border:1px solid #dddddd;
	border-width: 0 1px 1px 1px;
	-webkit-border-radius: 0px 0px 4px 4px;
	   -moz-border-radius: 0px 0px 4px 4px;
	        border-radius: 0px 0px 4px 4px;
}
.video-desc > span,
.post-desc > span { display: block; font-size: 11px; }
.video-list .entry-title,
.post-list .entry-title { margin-bottom:0px; font-size:14px;  }

.video-list:hover .video-desc,
.post-list:hover .post-desc { background-color:#01749F; }
.video-list:hover .video-desc * { color:#ffffff; }
.post-list:hover .post-desc * { color:#ffffff; }
.video-list:hover .video-desc span,
.post-list:hover .post-desc span { color:rgb(255,255,255) }
.video-list:hover .video-desc span,
.post-list:hover .post-desc span { color:rgba(255,255,255,0.8) }

.video-details { margin: 20px 0; }
.video-meta > span {
	display:inline-block;
	float: left; 
	margin: 0 1px 1px 0; 
	font-weight: bold; 
	padding: 0; 
	width: 48%; 
	font-size:12px;
}
.video-meta > a { display: block; }

/* @since v3.1.0 */
.video-list .entry-title a { color:#444444;  }
.video-list .entry-title a:hover { color:#ffffff;  }

/* Events Template & Signle Page
=========================================================== */
.events-list {
	position: relative;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: #ffffff;
	border:1px solid #dddddd;
}

.events-list .entry-title { 
	margin-bottom:5px; 
	font-size:16px; 
	
}

/* Events Taxonomy 
=========================================================== */
.pastevents {
	background-color: rgba(255, 250, 194, 0.50);
	height: 100%;
	width: 100%;
	position: absolute;
}

/**
 * Signle Pages
 * ----------------------------------------------------------------------------
 */
.event_entry ul { margin:0; }
.event_entry ul li { list-style:none; line-height:30px;}

.event_thumb { float: right;}
.event_thumb img { max-width:100%; height:auto; }
.event-single .event_thumb { float: none; margin: 0 0 30px 0;}

.event_details { overflow:hidden; padding: 25px 0 25px 25px; }

.event_details_single ul { padding-left:0; }
.event_details_single { overflow:hidden; margin: 0 auto; }
.event_details_single strong { display:inline-block; margin-right:10px;}

.event_info p { font-weight:normal; margin-bottom:0; font-size:12px;}
.event_info p span { font-weight:600;  }

.event_details .event_date .heading { letter-spacing:2px;}

.event_entry h4,
.event_entry h5 { margin-bottom:10px; }
.event-column {
	position: relative;
	display: inline;
	display: inline-block;
	float: left;
	width: 50%;
}

.event_start,
.event_end{ float: left;}
.event-meta { 
	float: left; 
	text-align: center; 
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	margin-right: 20px;
	padding: 5px 20px 5px 0;
	text-transform: uppercase;
	border-right: 1px solid #dddddd;
}
.event-meta .day { 
    margin: 2px 0;
    padding: 3px 5px;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    background-color: #01749F;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
}
.event-meta span { display:block;  font-weight: normal;}
.event-content { overflow: hidden; padding-bottom: 5px; padding-right: 15px; }
.event_info p span { display:inline-block; width:80px;}
.event-single .event_info { border-right:1px solid #dddddd;}
.event_details_wrap {
	background-color: #F1F2F3;
	border: 1px solid #DDDDDD;
	padding: 20px 20px 5px 20px;
	margin-bottom:20px;
}

.event_details_wrap:before,
.event_details_wrap:after {
	clear:both;
	content: "";
	display: table;
	}
	
.event_wwrap { padding:0; margin-bottom:15px; border-bottom:1px solid #ddd; }
.event_wwrap .entry-title { font-size:16px; line-height:20px;}
.event_wwrap h4 { margin-bottom:5px;}

.event_wwrap:after,
.event_wwrap:before {
	clear:both;
	content:'';
	display:block;
}

.event_wwrap .event-meta {
    font-size: 11px;
    padding: 5px 15px;
	border-right:1px solid #DDDDDD;
}


.event_wwrap .day {
    border-radius: 3px;
    font-size: 16px;
    line-height: 20px;
    padding: 3px;
}


.etick-status { font-weight:normal; font-size:11px; padding:3px 9px; border-radius:3px; background-color:#e6e6e6; color:#666666;}

/* Play Button
=========================================================== */
.play-btn {
	margin: 0 auto; 
	height: 36px;
	width: 36px;
	background-color: #01749F;
	cursor: pointer;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: 	all 0.2s ease-in-out;
	-o-transition: 		all 0.2s ease-in-out;
	-ms-transition: 	all 0.2s ease-in-out;
	transition: 		all 0.2s ease-in-out;
	-webkit-border-radius:40px;
	-moz-border-radius:   40px;
	border-radius:        40px;
}
.play-btn:before {
	content: "";
	background: #000000;
	border-radius: 50%;
	position: absolute;
	top: 0; left:0; bottom: 0; right: 0;
}
.play-btn:after {
	border-color: transparent transparent transparent #ffffff;
	border-style: solid;
	border-width: 10px 0 10px 12px;
	content: "";
	left: 50%;
	margin: -10px -4px;
	position: absolute;
	top: 50%;
	transition: all .1s;
}
.play-btn:before {
	content: "";
	background: transparent;
	border-radius: 50%;
	position: absolute;
	top: 0; left:0; bottom: 0; right: 0;
}
.play-btn:hover {
	background-color: #222222;
}
.play-btn:hover:after {
	border-color: transparent transparent transparent #fff5f5;
}

.play-btn:active {
	border-color: transparent transparent transparent;
}

/* Pause Button
=========================================================== */

.pause-btn {
	margin: 0 auto; 
	height: 40px;
	width: 40px;
	background-color: #01749F;
	cursor: pointer;
	position: relative;
	transition: all .1s;
	border-radius: 50%;
}
.pause-btn:before {
	content: "";
	background: #007799;
	border-radius: 50%;
	position: absolute;
	top: 0; left:0; bottom: 0; right: 0;
}
.pause-btn:after {
	border-color: #ffffff;
	border-style: solid;
	border-width: 6px 10px 6px 6px; 
	content: "";
	left: 50%;
	margin: -6px -8px;
	position: absolute;
	top: 50%;
	transition: all .1s;
}
.pause-btn:before {
	content: "";
	background: transparent;
	border-radius: 50%;
	position: absolute;
	top: 0; left:0; bottom: 0; right: 0;
}
.pause-btn:hover {
	background-color: #ffa0a1;
}
.pause-btn:hover:after {
	border-color:  #fff5f5;
}

.play-btn:active {
	border-color: transparent transparent transparent;
}

/* Columns for Album, Artist, Video, Gallery Template
=========================================================== */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_sixth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}

.end { margin-right: 0 !important; }

.end:after { clear: both; content: ''; display: block; }
.col_half:after ,
.col_third:after ,
.col_twothird:after ,
.col_fourth:after ,
.col_three_fourth:after ,
.col_fifth:after { clear: both; content: ''; display: block; }

/* Custom Posts Meta
=========================================================== */
.customposts  { position: relative; margin: 0; }
.custompost_meta { float: left; }
.custompost_meta {
	display: block;
	width: 36px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 8px;
	text-align: center;
	border: 1px solid #dddddd;
	-webkit-border-radius: 50px;
	-moz-border-radius:    50px;
	border-radius:         50px;
}
.custompost_meta .month {
	display: block; 
	font-size: 10px; 
	line-height: 14px; 
	text-transform:uppercase;
}
.custompost_meta .day { 
	display: block; 
	font-size: 19px; 
	line-height: 20px;
}

.customposts .info {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.customposts .info .info_date,
.customposts .info .info_time,
.customposts .info .info_place {
	margin-right: 45px;
	font-weight: bold;
}
.custompost_thumb img { 
	max-width:100%; 
	height:auto; 
	display: block;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

.custompost_thumb { position:relative; border:1px solid #dddddd; border-width: 1px 1px 0;}

.album_bio .custompost_thumb { border-width: 1px 1px 1px 1px;}
.artist_bio .custompost_thumb { border-width: 1px 1px 1px 1px;}

.custompost_thumb .imgoverlay {
	display: block;
	position: absolute;
	background: url('images/hover_image.png') right top no-repeat transparent;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
}

.custompost_details { overflow:hidden; }
.custompost_details .custompost_venue span,
.custompost_details .custompost_date span,
.custompost_details .custompost_start span,
.custompost_details .custompost_end span,
.custompost_details .custompost_location span { font-weight:bold; }
.custompost_details .custompost_date .heading { letter-spacing:2px;}

.custompost-column {
	position: relative;
	display: inline;
	display: inline-block;
	float: left;
	width: 50%;
}
.details_spacing {background-color: #E5E5E5; width: 48%; float: left; margin: 0 2px 2px 0;font-weight:bold;padding:5px; }

/* Albums widget
=========================================================== */
.album_widgetmeta { position:relative; overflow:hidden; margin-bottom:15px;}
.album_widgetmeta .album-thumb { float:left; margin-right:10px;}
.album_widgetmeta .album-widget-info { overflow:hidden; }
.album_widgetmeta .album-widget-info .album-widgetmeta span { display:block; font-weight:normal;}
.album-widgetmeta { font-size:11px;}
.album-widget ul { 
	margin: 0px 0 15px 0; 
	list-style-type:decimal-leading-zero; 
}

/* Latest Video Widget
=========================================================== */

.latest_video_item { position:relative;}
.latest_vw_meta span { display:block;}
.latest_vw_meta h2 { margin-bottom:5px;}


/* Share Link Socials in Artist Single Page */
/* Depricated since 1.4 */
/* ul.atpsocials.share li { background-color:#01749F; }*/


/* Event Pro Calendar */

#tribe-events-pg-template { padding: 0 20px; }
.tribe-events-sub-nav { padding: 0; }

/* Lyrics and Download Buttons
=========================================================== */


.lyricdesc {
    position: relative;
    display: none;
    margin: 10px -10px -10px 0;
    padding: 15px;
    line-height: 20px;
    background-color: #FFFFFF;
    color: #4444444;
}

span.lyrics {
	z-index:99;	
	cursor: pointer;
	display:inline-block;
	}
span.lyrics a {}

span.download {
	cursor: pointer;
	display:inline-block;
	position: relative;
	z-index: 98;
	}

span.download a {}
span.buy {
	cursor: pointer;
	display:inline-block;
	}

span.buy a {z-index:99;}

.mp3options{
	position:absolute;
	float:right;
	display: inline-block;
	z-index:99;
	right:10px;
	top: 6px;
}

.mp3o { 
	color: #999999; 
	cursor: pointer; 
	/*	border-right:1px solid #dddddd; */
	line-height: 100%; 
	padding: 0 6px; 
	font-size: 14px; 
}
.mp3o a { color:#999999; }
.mp3o:hover,
.mp3o a:hover { color:#000000; }
.mp3o:last-child { border-right: 0; padding-right: 0;}

.iva_playCount { cursor: default; font-size:11px; }
.iva_music_download,
.music_download,
.track_like { font-size:11px; }

#player-meta { display:none; }

.likes_count { margin-right: 5px; }



/*  Next previous navigation
=========================================================== */
.iva-np-headwrap { 
	display: table;
	min-height: 40px; 
	margin-bottom:5px;
	width:100%;
	position:relative;
}

.iva-np-allitems { 	
	background-color:#f5f5f5; 
	display:table-cell;
	width:100px; 
	min-height:40px; 
	vertical-align:middle;
	z-index:2;
	text-align:center;
}
.iva-np-allitems a { color:#ffffff; margin: auto; vertical-align:middle; }

.iva-np-title { display:table-cell; vertical-align:middle; margin: 0 auto;  z-index:1; }
.iva-np-title h2 { margin-bottom: 0; line-height:normal; }

.iva-np-navs { display: table-cell; min-height:40px; z-index:3; float: right;}
.iva-np-pagination { vertical-align:middle; margin: auto; display:table; }
.iva-np-pagination i { display:table; padding: 12px; margin: 0 auto; background-color:#f0f0f0; }

.iva-np-pagination a { 
	display:table-cell; 
	border-radius: 3px; 
	padding: 1px;
}
.iva-np-pagination a { color:#666666; }
.iva-np-pagination a:hover { color:#4abdd4 }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Count Down */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.is-countdown {
	border-top:1px solid #dddddd;
	padding:10px;
	margin:0 auto;
	text-align:center;
	background-color:#f2f2f2;
}
.is-countdown:after,
.is-countdown:before {
	clear:both;
	display:block;
	content:"";
}

.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.hasCountdown { margin: 5px 0; }

.countdown-row {clear: both;display: table; width: 100%; margin:0 auto;}
.countdown-show1 .countdown-section { 
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section { 
	width: 17%;
}
.countdown-show6 .countdown-section {
	width: 14%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: table-cell;
	font-size: 75%;
	text-align: center;
}
.countdown-amount {
    font-size: 200%;
}
.countdown-period {
    display: block;
}
.countdown-descr {
	display: block;
	width: 100%;
}

.album-playlist .play_icon {
    position: absolute;
	left: -38px;
    top: 50%;
    margin-top: -10px;
}

.fa-2x.play_icon { font-size:1.5em; }
.selected .fa-2x.play_icon { color: #2B749F; }

.iva_follow ul { list-style:none; margin:0; padding:0;}
.iva_follow ul li { margin-left: 5px; display: inline-block; }
.iva_sharing { margin-bottom:20px;}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Custom Search Dropdown */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.iva-music-bar:after,
.iva-music-bar:before {
	clear: both;
	content: '';
	display:block;
}

.iva-music-bar {
	position: relative;
	background-color: #f1f1f1;
	padding: 10px 0;
	z-index: 20;
}

.search-nav {
	margin: 0 auto;
}

.search-nav li { list-style: none;  }
.search-nav > li { padding: 0; float: left; position: relative; }
.search-nav > li > a {
	display: inline-block;
	float: left;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	padding: 0 20px; 
	margin-bottom:0;
	background-color:#bbbbbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.search-nav > li:hover > a { }
.search-nav > li:first-child > a { border-left: 0; }
.search-nav > li:last-child > a { border-right: 0; }
.search-nav > li:hover > .searchmenu-container { display: block; }
.searchmenu-container {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 99;
	background-color:#ffffff;
	padding: 15px 0px;
	overflow: hidden;
	margin-top: -3px;
	font-size: 100%; 
	min-width: 270px; 
}

.searchmenu-container ul { margin:0; padding:0;}
.searchmenu-container li { padding: 0; }

/* Top Search Bar Lists Styles */

.quickaccess li { display: inline-block; width: 50%; float: left; }
.quickaccess li a { padding: 3px 15px; margin: 1px; display: block; font-size: 11px; color: #f0f0f0; }
.quickaccess li a:hover { background-color: rgba(0,0,0,0.15); color: #ffffff; opacity: 0.7 }

.searchmenu-wrap{
	margin: 0 auto 0 0;
	display: table;
}
.searchmenu-align {
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.iva_music_search_select{
	display:inline-block;
	float:left;
	vertical-align:middle;
	width:33%; 
	margin-right:2%;
 }
.iva_music_search_input{ 
	display:inline-block;
	float:left;
	vertical-align:middle;
	width:43%; 
	margin-right:2%;
}
.iva_music_search_button{ 
	display:inline-block;
	float:left;
	vertical-align:middle;
	width:20% 
}
.iva_search,
.cs-posttype{
	height:30px;
	width: 100%;
	padding: 0 10px;
	border:0px solid #dddddd;
	border:0px solid rgba( 0, 0, 0, 0.2 );
	background-color: rgba( 255, 255, 255, 0.9 );
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.iva_search:focus {
	background-color: rgba( 255, 255, 255, 1 );
}
.iva_search_btn {
	margin-bottom:0;
	padding:11px 20px;
	text-transform: normal;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#ffffff;
}
.iva_search_btn { background-color:#bbbbbb; }
.iva_select_wrapper {
	position: relative;
}

.iva_select_wrapper select { 
	width: 100%; 
	color: #444444;
	height: 30px; 
	cursor: pointer;
	border: 0px solid #dddddd;
	border: 0px solid rgba( 0, 0, 0, 0.2 );
	background-color: rgba(255,255,255,0.9);
}

.iva_select_bg_wrapper select{
	width: auto;
	height: 35px; 
	cursor: pointer;
	border: 0px solid #dddddd;
	background: #ffffff
}

.iva-arrpos {
	top: 50%;
	position: absolute;
	margin-top: -7px;
	right: 27%;
}

.iva-select-arrow{
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 100%;
	text-align: center;
	pointer-events: none;
	color: #999999;
	font-family: fontAwesome;
	background: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Track list Table */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.tracklist-Table {
	margin: 0 auto;
	padding: 0px;
	width: 100%;
	overflow:hidden;
}

.tracklist-col { display: inline-block; margin:auto 0; }
.tracklist-Row:hover{ background-color: rgba(0,0,0,0.1);}

.tracklist-Row:after {
	clear:both; 
	content:''; 
	display: block;
}

.tracklist-Row {
  display: block;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  border: 1px solid #dddddd;
  border: 1px solid rgba(0,0,0,0.15);
  border-width: 0 1px 1px 1px;
}

.tracklist-Header .tracklist-Row{
	background-color: #01749F;
	border-bottom: 0;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
}

.tracklist-Body {
	font-size: 13px;
	margin-bottom: 20px;
    overflow: hidden;
}
.tracklist-thumb img {
	width: 50px;
	height:50px;
	margin:0 auto;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
.tracklist-thumb    { float: left; display:inline-block; margin-right: 10px; }
.tracklist-name     { position: relative; width:50%; text-align:left; vertical-align: top; }
.tracklist-album    { position: relative; width:50%; text-align:left; vertical-align: top;  }
.tracklist-album p  { margin-bottom: 0; }

.tracklist-details .fap-single-track {
	font-weight: normal;
	font-size: 15px;
	line-height: 100%;
	margin-left: 25px;
} 

/* Search New Play Animated Icon
================================================= */

.tracklist-Row .ivaplay {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	width: 16px;
	height: 16px;
	background:url('images/play.png') no-repeat scroll center center transparent;
}

.tracklist-Row .selected .ivaplay {
	background:url('images/playing.gif') no-repeat scroll center center transparent;
}

/* Popup box*/
.xbutton {
	float:right;
	margin:-10px; 
	padding:2px 5px;
	background:#3380bb; 
	color:#fff;
	font-weight:bold;
}
.pop-modal {
	display: none;
	background-color: rgba(0,0,0,0.8);
	width: 200%; 
	height: 100%; 
	margin: 0 -50%; 
	z-index: 9999; 
	cursor: pointer;
	position: fixed; 
	top: 0;
	left: 0;
}
.pop-overlay { 
	position: fixed; 
	width: 200%; 
	height: 100%;
	z-index: 99990;
}
.pop-box { 
	width: 250px;
	position: absolute;
	margin: -170px -220px 0; 
	left: 50%;
	top: 60%;
	padding: 20px; 
	z-index: 999999;
	background: #f3f3f3;
	text-align:center;
}
.pop-box p { margin: 0; }
.round-corners {
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*
.custom-search #main { padding-top: 0;}
.tracks-search  { padding: 25px 0; }
*/

.albums-search  { padding: 25px 0; }

.artists-search { padding: 25px 0; }
.empty-search   { padding: 25px 0;}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Isotope Grid */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.sortable { width: 100%; }
.splitter  { 	
	width: 100%;
	margin: 0 10px;
	padding: 0;
}
	
.splitter ul        { margin-right: 0; margin-top: 0; }
.splitter > li      { padding-left: 0; }
.splitter > li ul   { display: table; margin: 0 auto; }
.splitter ul li a   { border-bottom: 0; position: static; margin: 0 2px; color: #666666;}

.splitter li,
.splitter ul,
.splitter ul li a   { display: inline-block;   line-height: 1.1; margin: auto 1px; }

.splitter ul,
.splitter ul li,
.splitter ul        { background-position: 0 -138px; background-repeat: repeat-x; }
.splitter ul li     { position:relative; line-height:34px; margin-bottom: 5px;}
.splitter ul li a:hover { 
	padding: 8px;
	text-decoration: none; 	
	color: #3888C8;
	opacity: 0.9;
}
.splitter li a.selected {
	color: #3888C8;
}

.splitter li a.selected .selected-arrow{ 
	position:absolute;
	left: 0;
	right: 0;
	bottom:-5px;
	width: 0;
	margin: 0 auto;
	height: 0;
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent;
	border-top: 5px solid #0ba054;
	}	
.splitter ul li:first-child { margin-left: 0; margin-bottom: 5px; }
.splitter ul li a   { 
	padding: 8px; 
	text-decoration: none; 
}		
.image-grid .item {
	position: relative;
	overflow:hidden;
}

.sort_column2 .item  { position:relative; width:50%; min-height:250px; height:auto; }
.sort_column3 .item { width: 33.33%; display: inline-block; }
.sort_column4 .item { width: 25%; display: inline-block; }
.sort_column5 .item { width: 19.99%; display: inline-block; }

.sort_column2 .album-list,
.sort_column3 .album-list,
.sort_column4 .album-list,
.sort_column5 .album-list { margin: 10px;}

.sort_column6 .item {
	width: 13.5%;
	margin: 0 10px 20px 10px;
}
.sort_column5 .end { maring-right: 0 !important; }

/* Isotope Filtering -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.dr_ttrow.isotope-item,.dr_ttrow{  right:0; }
.isotope-item {  z-index: 2; }
.isotope-hidden.isotope-item {  pointer-events: none; z-index: 1; }

/* Isotope CSS3 Transitions =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */


.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration:	 0.8s;
	-o-transition-duration:		 0.8s;
	transition-duration:		 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property:	 height, width;
	-o-transition-property:		 height, width;
	transition-property:		 height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:	 -moz-transform, opacity;
	-o-transition-property:		 top, left, opacity;
	transition-property:		 transform, opacity;
}

/* Disabling Isotope CSS3 transitions -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration:	0s;
	-moz-transition-duration:		0s;
	-o-transition-duration:			0s;
	transition-duration:			0s;
}

/* End: Recommended Isotope styles */

/* Disable CSS transitions for containers with infinite scrolling =-=-=-=-=-=-=- */
.isotope.infinite-scrolling {
	-webkit-transition:	none;
	-moz-transition:	none;
	-o-transition:		none;	
}
.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
	z-index: 9999;
	}

.iva-music-blog .post:last-child { margin-bottom:0; padding-bottom:0; }

/* IVA Page Loader  */
.iva_page_loader {
	display:block;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:99999;
	text-align: center;
 }