/*
 Theme Name:   Newspaper Child
 Description:  Newspaper Child Theme
 Author:       José Millán
 Template:     Newspaper
 Version:      6.7.1
 Tags: black, white, one-column, two-columns, fixed-layout
*/

@import url("../Newspaper/style.css");
@import url("../Newspaper/normalize.css");

#wpadminbar, .td-header-header{
	display: none;
}
.header-search{
	display: none;
}
.td-header-menu-wrap-full{
	float: right;
    left: 9%;
    width: 30%;
}
.reproductor_audio_home{
	width: 100%;
    position: relative;
    bottom: 2em;
}
.reproductor_audio_home .cue-skin-default.mejs-container .mejs-inner{
	padding: 0;
}
.reproductor_audio_home .cue-skin-default.mejs-container .mejs-track-artwork{
	height: 30em !important;
	width: 100% !important;
}
.reproductor_audio_home .mejs-track-title{
	position: relative;
    left: 35%;
    top: 1.5em;
}
.reproductor_audio_home .mejs-controls .mejs-next-button{
	position: relative;
    left: 13%;
}
.reproductor_audio_home .mejs-controls .mejs-previous-button{
	position: relative;
	left: 2%;
}
.reproductor_audio_home .mejs-time-rail{
	top: 32em;
	background: grey !important;
}
.reproductor_audio_home .mejs-time-handle{
    width: 8px !important;
    background: white !important;
}
.reproductor_audio_home .mejs-audiotheme-mark{
	display: none !important;
}
.reproductor_audio_home .mejs-time{
	top: 33.5em;
}
.reproductor_audio_home .mejs-track-title{
	position: relative;
	left: 40%;
	top: 3.5em;
}
.reproductor_audio_home .mejs-horizontal-volume-slider, .reproductor_audio_home .mejs-volume-button{
	position:relative;
	left: 15%;
}
.reproductor_audio_home .mejs-horizontal-volume-slider{
	bottom: 0.5em;
}
.reproductor_audio_home .mejs-volume-button{
	top: -6px !important;
}
.reproductor_audio_home .cue-tracks{
	max-height: 205px;
}
.espacio_slide_promo{
    width: 75.1em;
    z-index: 0;
}
.td-main-content-wrap{
	padding-bottom: 0px;
}
.reproductor_audio_home .mejs-playpause-button{
	position: relative;
	top: 380px !important;
	left: 45px !important;
}
.reproductor_audio_home .mejs-container{
	height: 37em !important;
}
.sf-menu > li > a{
	font-size: 2em;
}
#td-header-menu{
	position: relative;
    right: 790px;
    top: 0em;
    background-color: #8b005b;
    width: 110.4%;
    height: 4.5em;
    padding: 1% 1%;
    min-height: 1em;
}
.logo_home{
	position: relative;
    bottom: 56em;
    left: 227%;
    width: 52%;
}
.logo_home img{
	position: absolute;
    top: 3em;
    z-index: 999;
    width: 100%;
}
.td-header-sp-logo img{
	width: 80%;
	height: 16em;
}
.td-header-style-1 .td-header-sp-logo img{
	max-height: 110em;
}
.sf-menu li{
	float: right;
}
.sf-menu .td-menu-item > a{
	text-transform: capitalize;
	color:white;
}
.td-header-gradient:before{
	background: transparent;
}
.td-sub-footer-container{
	width: 40%;
	height: 5em;
    position: relative;
    left: 56.5%;
    bottom: 10em;
    background-color: #8b005b;
    padding: 0.5% 0px;
    margin-bottom: -7em;
}
.td-subfooter-menu li a{
	font-size: 2.5em;
	font-weight: bold;
}
#menu-menu-footer{
	position: relative;
    right: 56%;
}
.td-header-main-menu{
	top: 1em;
}
.imagen_Dj{
	position: relative;
    right: 33%;
    bottom: 5em;
    width: 42%;
    margin-bottom: 11%;
}
.espacio_redes_menu-footer{
	height: 5em;
	position: relative;
    bottom: 60em;
    width: 35%;
    left: 30%;
}
/*.redes_home{
	position: absolute !important;
	width: 60% !important;
	top: -9%;
	right: -19%;
	z-index: 999;
}*/
.redes_home .wpb_wrapper{
	display: flex;
}
.facebook_home, .twitter_home{
	margin-right: 10%;
}
.facebook_home, .twitter_home, .instagram_home{
	width: 100%;
}
.td-sub-footer-copy{
	display: none !important;
}
.td-subfooter-menu li a:hover{
	font-weight: bold;
	color: white;
}
.td-subfooter-menu li a{
	color: white;
}
.espacio_reproductor_home{
    position: relative;
    width: 61%;
    bottom: 1.6em;
    right: 33%;
    height: 56em !important;
}
.top_reproductor_home img{
	width: 630px;
}
.td-sub-footer-container{
	bottom: 79em;
}
.slide_logo{
	position: relative;
    bottom: 58em;
    left: 27%;
}
.reproductor_slide{
	height: 51em;
}
@media(max-width: 1903px){
	.td-sub-footer-container{
		left: 56.8%;
	}
	#td-header-menu{
		right: 785px;
	}
}
@media(max-width: 1876px){
	.td-sub-footer-container{
		left: 57.6%;
	}
	#td-header-menu{
		right: 775px;
	}
	.reproductor_audio_home{
		right: 70%;
	}
	.imagen_Dj{
		right: 27%;
	}
}
@media(max-width: 1842px){
	#td-header-menu{
		right: 765px;
	}
	.td-sub-footer-container{
		left: 58.6%;
	}
}
@media(max-width: 1810px){
	#td-header-menu{
		right: 756px;
	}
	.td-sub-footer-container{
		left: 59.4%;
	}
	.td-sub-footer-container .td-container{
		position: relative;
    	right: 5%;
	}
	.td-sub-footer-menu{
		padding-right: 70px;
	}
	.redes_home{
		width: 70%;
		right: 75%;
	}
	.imagen_Dj{
		right: 30%;
	}
}
@media(max-width: 1786px){
	.reproductor_audio_home{
		width: 119%;
		right: 65%;
	}
	.imagen_Dj{
		right: 25%;
	}
	.espacio_slide_promo{
		right: 273px;
	}
	.td-sub-footer-container{
		left: 59.6%;
	}
}
@media(max-width: 1774px){
	.espacio_slide_promo{
		right: 277px;
		width: 73em;
	}
	#td-header-menu{
		width: 108%;
	}
	.td-sub-footer-container{
		left: 58.5%;
	}
}
@media(max-width: 1733px){
	#td-header-menu{
		right: 744px;
		width: 103.3%;
	}
	.espacio_slide_promo{
		width: 70em;
	}
	.logo_home img{
		left: 98%;
		width: 40%;
	}
	.td-sub-footer-container{
		left: 57%;
		bottom: 13em;
	}
	.td-sub-footer-container .td-container{
		right: 9%;
	}
	.redes_home{
		top: 80%;
	}
	.reproductor_audio_home{
		width: 112%;
    	right: 60%;
	}
}