/* 
Theme Name: MusicPlay child
Theme URI: http://themeforest.net/item/lifecare-responsive-medical-wordpress-theme/
Author: AivahThemes
Author URI: http://themeforest.net/user/AivahThemes
Description: St.John Theme for WordPress is lightweight and adaptable. Theme comes with ease in usability which makes your site ready in minutes.
Version: 4.4.0
Template: musicplay
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, editor-style, featured-images, full-width-template, post-formats, sticky-post, theme-options, translation-ready
*/
@import url("../musicplay/style.css");

/*
body{
direction:rtl;
unicode-bidi:embed;
}
*/
.iva_page_bg{
	width: 74%;
}
.iva_page_bg{
	background-color: transparent !important;
}
.logo{
    position: absolute !important;
    top: 10em;
    right: 2%;
}
.logo img{
	width: 250px !important;
}
.edit-link{
	display: none;
}
#sticky, #trigger, #footer{
	display: none;
}
.vc_column_container>.vc_column-inner{
	padding-right: initial !important;
}
.reproductor_slide{
	height: 51em;
}
.reproductor_audio_home{
	width: 80%;
    position: relative;
    bottom: 2em;
    left: 3%;
}
.reproductor_audio_home .cue-skin-default.mejs-container .mejs-inner{
	padding: 0;
}
.reproductor_audio_home .cue-skin-default.mejs-container .mejs-track-artwork{
	height: 30em !important;
	width: 100% !important;
}
.reproductor_audio_home .mejs-track-title{
	position: relative;
    left: 35%;
    top: 1.5em;
}
.reproductor_audio_home .mejs-controls .mejs-next-button{
	position: relative;
    left: 13%;
}
.reproductor_audio_home .mejs-controls .mejs-previous-button{
	position: relative;
	left: 2%;
}
.reproductor_audio_home .mejs-time-rail{
	top: 32em;
	background: grey !important;
}
.reproductor_audio_home .mejs-time-handle{
    width: 8px !important;
    background: white !important;
}
.reproductor_audio_home .mejs-audiotheme-mark{
	display: none !important;
}
.reproductor_audio_home .mejs-time{
	top: 33.5em;
}
.reproductor_audio_home .mejs-track-title{
	position: relative;
	left: 40%;
	top: 3.5em;
}
.reproductor_audio_home .mejs-horizontal-volume-slider, .reproductor_audio_home .mejs-volume-button{
	position:relative;
	left: 15%;
}
.reproductor_audio_home .mejs-horizontal-volume-slider{
	bottom: 0.5em;
}
.reproductor_audio_home .mejs-volume-button{
	top: -6px !important;
}
.reproductor_audio_home .cue-tracks{
	max-height: 205px;
}
.reproductor_audio_home .mejs-playpause-button{
	position: relative;
	top: 380px !important;
	left: 45px !important;
}
.reproductor_audio_home .mejs-container{
	height: 37em !important;
}
.slide{
	width: 49%;
}
.slide_repro{
	width: 99%;
}
.espacio_slide_promo{
	position: relative;
	right: 11%;
    width: 80.1em;
    height: 40em;
    z-index: 0;
}
.espacio_slide_promo .sangar-slider-26{
	height: 53em !important;
}
.primarymenu ul li a{
	font-size: 1.8em;
}
.primarymenu{
	position: relative;
	left: 40%;
	top: 2em;
	width: 91.5%;
	display: flex;
    justify-content: flex-end;
}
.primarymenu .sf-menu{
	display: flex;
    flex-direction: row-reverse;
}